<table mat-table [dataSource]="students" class="mat-elevation-z8">

  <ng-container matColumnDef="stFname">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let element"> {{element.stFname}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="stLname">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let element"> {{element.stLname}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef> User Name </th>
    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>
  <ng-container matColumnDef="deptName">
    <th mat-header-cell *matHeaderCellDef> Department </th>
    <td mat-cell *matCellDef="let element"> {{element.deptName}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button [routerLink]="['/admin/view-grades', element.id]">View Grades</button>
      <button mat-button (click)="openGradeDialog(element, '500ms', '300ms')">Grade</button>
      <button mat-button (click)="openAssignCourseDialog(element, '500ms', '300ms')">Assign Course</button>
      <button matButton="filled" (click)="deleteStudent(element.id)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>